.App {
  text-align: center;
  color: white;
}

.container {
  width: 1100px;
  background: rgb(48, 119, 227);
  border-radius: 12px;
  color:  black;
}

.form-select{
  width: 280px;
  text-align: center;
}


.card-body {
background: rgb(98, 156, 242);
}

.today{
  border-top: 5px solid rgb(0, 0, 0);
  border-left: 5px solid rgb(0, 0, 0);
}
.todayBody{
  background: rgb(180, 241, 179);
  border-top: 6px solid black;
  border-left: 6px solid black;
}
.mainContainer {
  height: 280px;
  padding: 25px;
  font-size: 22px;
}
.footerContainer{
  background: rgb(180, 241, 179);
  color: black;
  padding: 10px;
}

.weatherTitle{
  color: rgb(48, 119, 227);
  border: 1px solid rgb(173, 242, 172);
  padding: 10px;
  width: 1100px;

}

.twtTitle{
  color: white;
}
.links {
text-decoration: none;
color: black;
}
